<!DOCTYPE html>
<html>

<head>
  <title>Prediction</title>
  <meta charset="UTF-8" />
</head>

<body>
  <div id="qual-cont" />
  <div id="liv-area-cont" />
  <div id="year-cont" />
  <div id="year-price-cont" />
  <div id="qual-price-cont" />
  <div id="livarea-price-cont" />
  <div id="loss-cont"></div>
  <div id="acc-cont"></div>
  <div id="slm-predictions-cont"></div>
  <div id="lm-predictions-cont"></div>

  <script type="text/javascript" src="./predict.js"></script>
</body>

</html>